Service - Income Tax/April 2023 – Release Candidate/ReturnCommon.v2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Documentation
_______________________________________
NAME:	ReturnCommon.v2.xsd
VER:	2.4
ISSUER:	Inland Revenue Department
DESC:	This schema defines the ReturnCommon data types used accross the IRD hosted, Gateway Services.

' Date  			Change
' **********		************
' 2022-08-10		Adding receivedDate to RetrieveStatus
' 2021-06-11		Add new data type FourDecimalRate to support exchange rates.
' 2020-07-01		Increase creditTransferRequest maxOccurs from 10 to 20
' 2020-01-10		Initial
_______________________________________
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:cmn="urn:www.ird.govt.nz/GWS:types/Common.v2"
            xmlns:rc="urn:www.ird.govt.nz/GWS:types/ReturnCommon.v2"
            xmlns="urn:www.ird.govt.nz/GWS:types/ReturnCommon.v2"
            targetNamespace="urn:www.ird.govt.nz/GWS:types/ReturnCommon.v2"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified"
            version="1.0">
	<xsd:annotation>
		<xsd:documentation xml:lang="en">
			This is a schema meant to be a common ground for defining tax type agnostic returns operations.
			The addition of new data types should never change the major version of this schema, only the addition of new operations or root level elements.
		</xsd:documentation>
	</xsd:annotation>
	<!--Imports Statement(s)-->
	<xsd:import namespace="urn:www.ird.govt.nz/GWS:types/Common.v2"
	            schemaLocation="./Common.v2.xsd">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Contains common data types.</xsd:documentation>
		</xsd:annotation>
	</xsd:import>
	<!--File-->
	<!--File Structures-->
	<xsd:complexType name="FileRequestType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Defines the root element for the File operation.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="fileHeader"
			             type="FileHeaderType"/>
			<!--This should be the same across all returns.-->
			<xsd:element name="fileBody"
			             type="FileBodyType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="FileHeaderType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Type containing return header information of primary importance to authentication/request direction.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="cmn:HeaderType">
				<xsd:sequence>
					<xsd:element name="periodEndDate"
					             type="cmn:DateType">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">The filing period for which the return is applicable.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="majorFormType">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">The major form type of this return. (ex: GST)</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:normalizedString">
								<xsd:minLength value="1"/>
								<xsd:maxLength value="3"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="minorFormType"
					             minOccurs="0">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">The minor form type of this return. (ex: 101A)</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:normalizedString">
								<xsd:minLength value="1"/>
								<xsd:maxLength value="6"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="FileBodyType">
		<xsd:sequence>
			<xsd:element name="standardFields"
			             type="StandardFieldsType"/>
			<!--Data fields common to all return ABOVE.-->
			<xsd:element name="formFields"
			             type="FormFieldsType">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">returnData element will encapsulate data specific to each return. This element will be populated in importing schemas.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="StandardFieldsType">
		<xsd:sequence>
			<xsd:element name="isNilReturn"
			             type="xsd:boolean"
			             minOccurs="0"/>
			<xsd:element name="isFinalReturn"
			             type="xsd:boolean"
			             minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">There is no concept of a final return for AIM, for every other return this element should be included with true/false</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="amendmentRequest"
			             type="AmendmentRequestType"/>
			<xsd:element name="creditTransferRequest"
			             type="TransferRequestType"
			             minOccurs="0"
			             maxOccurs="20">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">Credit transfers can be requested and the balance split more than one time.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="FormFieldsType"
	                 abstract="true">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">This complex type is used in order to prevent using an element of an anonymous type. Type must be extended.</xsd:documentation>
		</xsd:annotation>
	</xsd:complexType>
	<xsd:complexType name="FileResponseType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Defines the response for the RetrieveFilingObligation operation.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="cmn:StandardResponseType">
				<xsd:sequence>
					<xsd:element name="responseBody"
					             type="FileResponseBodyType"
					             minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="FileResponseBodyType">
		<xsd:sequence>
			<xsd:element name="gatewayId"
			             type="xsd:normalizedString"/>
			<xsd:element name="submissionKey"
			             type="cmn:Quantity32TypePositive"
			             minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="fileResponse"
	             type="FileResponseType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Defines the response for the File operation.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<!--RetrieveReturn-->
	<!--RetrieveReturn Structures-->
	<xsd:complexType name="FormInfoRequestType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">formInfoRequest is the default request for retrieving period level return information. This element is used for Prepop, RetrieveStatus, and RetrieveReturn operation.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="cmn:HeaderType">
				<xsd:sequence>
					<xsd:element name="periodEndDate"
					             type="cmn:DateType">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">The filing period for which the return is applicable.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="majorFormType"
					             minOccurs="0">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">The major form type of this return. (ex: GST)</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:normalizedString">
								<xsd:minLength value="1"/>
								<xsd:maxLength value="3"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="minorFormType"
					             minOccurs="0">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">The minor form type of this return. (ex. ANN)</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:normalizedString">
								<xsd:minLength value="1"/>
								<xsd:maxLength value="6"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="submissionKey"
					             type="cmn:Quantity32TypePositive"
					             minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="RetrieveStandardFieldsType">
		<xsd:sequence>
			<xsd:element name="isNilReturn"
			             type="xsd:boolean"
			             minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RetrieveReturnResponseBodyType"
	                 abstract="true">
		<xsd:sequence>
			<xsd:element name="standardFields"
			             type="RetrieveStandardFieldsType"
			             minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RetrieveReturnResponseType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Defines the response for the RetrieveReturn operation.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="cmn:StandardResponseType">
				<xsd:sequence>
					<xsd:element name="responseBody"
					             type="RetrieveReturnResponseBodyType"
					             minOccurs="0"
					             maxOccurs="100"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="retrieveReturnResponse"
	             type="RetrieveReturnResponseType"/>
	<!--FilingObligations-->
	<!--FilingObligations Structures-->
	<xsd:complexType name="ResponseBodyType">
		<xsd:sequence>
			<xsd:element name="filingObligation"
			             type="FilingObligationsType"
			             minOccurs="0"
			             maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="FilingObligationsType">
		<xsd:sequence>
			<xsd:element name="periodEndDate"
			             type="cmn:DateType"/>
			<xsd:element name="status"
			             type="CodeStringType"/>
			<xsd:element name="dueDate"
			             type="cmn:DateType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ObligationsRequestType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Defines the root element for the RetrieveFilingObligation operation.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="cmn:HeaderType">
				<xsd:sequence>
					<xsd:element name="majorFormType">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">The major form type of this return. (ex: GST)</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:normalizedString">
								<xsd:minLength value="1"/>
								<xsd:maxLength value="3"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="minorFormType"
					             minOccurs="0">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">The minor form type of this return. (ex. ANN)</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:normalizedString">
								<xsd:minLength value="1"/>
								<xsd:maxLength value="6"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ObligationsResponseType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Defines the response for the RetrieveFilingObligation operation.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="cmn:StandardResponseType">
				<xsd:sequence>
					<xsd:element name="responseBody"
					             type="ResponseBodyType"
					             minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="retrieveFilingObligationsRequest"
	             type="ObligationsRequestType"/>
	<xsd:element name="retrieveFilingObligationsResponse"
	             type="ObligationsResponseType"/>
	<!--RetrieveStatus-->
	<!--RetrieveStatus Structures-->
	<xsd:complexType name="RetrieveStatusResponseType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Defines the response for the RetrieveStatus operation.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="cmn:StandardResponseType">
				<xsd:sequence>
					<xsd:element name="responseBody"
					             type="StatusResponseBodyType"
					             minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="StatusResponseBodyType">
		<xsd:sequence>
			<xsd:element name="returnStatus"
			             type="ReturnStatusType"
			             maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ReturnStatusType">
		<xsd:sequence>
			<xsd:element name="status"
			             type="CodeStringType"/>
			<xsd:element name="receivedDate"
			             type="cmn:DateType"
			             minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">The received date of the return</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="submissionKey"
			             type="cmn:Quantity32TypePositive"
			             minOccurs="0"/>
			<xsd:element name="majorFormType"
			             minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">The major form type of this return</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:normalizedString">
						<xsd:minLength value="1"/>
						<xsd:maxLength value="3"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="minorFormType"
			             minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">The minor form type of this return. (ex: ANN)</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:normalizedString">
						<xsd:minLength value="1"/>
						<xsd:maxLength value="6"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="additionalInfo"
			             type="CodeStringType"
			             minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">Additional information on the status of the form</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="retrieveFormInfoRequest"
	             type="FormInfoRequestType"/>
	<xsd:element name="retrieveStatusResponse"
	             type="RetrieveStatusResponseType"/>
	<!--Prepop-->
	<!--Prepop Structures-->
	<xsd:complexType name="PrepopResponseType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Defines the response for the Prepop operation.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="cmn:StandardResponseType">
				<xsd:sequence>
					<xsd:element name="responseBody"
					             type="PrepopResponseBodyType"
					             minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="PrepopResponseBodyType"
	                 abstract="true"/>
	<xsd:element name="prepopResponse"
	             type="PrepopResponseType"/>
	<!--DataTypes-->
	<!--ReturnCommon Data Types-->
	<xsd:complexType name="TransferRequestType">
		<xsd:sequence>
			<xsd:element name="transferIRD"
			             type="cmn:IRDNumberType"/>
			<xsd:element name="transferAccountType"
			             type="cmn:AccountTypeType"/>
			<xsd:element name="transferFilingPeriod"
			             type="cmn:DateType"/>
			<xsd:element name="associatedCustomer"
			             type="xsd:boolean"/>
			<xsd:element name="transferAmount"
			             type="cmn:MoneyTypePositive"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AmendmentRequestType">
		<xsd:sequence>
			<xsd:element name="isAmended"
			             type="xsd:boolean">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">If this return is being amended this isAmended field should be true and amendmentReason should be filled out.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="amendReason"
			             type="AmendReasonType"
			             nillable="true"/>
			<xsd:element name="amendDetails"
			             type="AmendDetailsType"
			             nillable="true"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="AmendReasonType">
		<xsd:annotation>
			<xsd:documentation>
				KEY: Incorrect amount
				MATH: Calculation error
				OTHER: Other
				TRNSPO: Transposition Error
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:token">
			<xsd:pattern value="[A-Z]{0,6}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="AmendDetailsType">
		<xsd:annotation>
			<xsd:documentation>
				This should be used to explain why an amendment is being requested.
				If a voluntary disclosure, the "Other" AmendReasonType should be selected and an explanation should be made here.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:maxLength value="1000"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="CodeStringType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:normalizedString">
				<xsd:attribute name="code"
				               type="xsd:normalizedString"
				               use="optional"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="Recipient">
		<xsd:sequence>
			<xsd:element name="irdNumber"
			             type="cmn:IRDNumberType"
			             minOccurs="0"/>
			<xsd:element name="dateOfBirth"
			             type="cmn:DateType"
			             minOccurs="0"/>
			<xsd:element name="name"
			             type="cmn:FormattedNameType"
			             minOccurs="0"/>
			<xsd:element name="address"
			             type="cmn:FormattedAddressType"
			             minOccurs="0"/>
			<xsd:element name="phone"
			             type="cmn:UnstructuredPhoneNumberType"
			             minOccurs="0"/>
			<xsd:element name="email"
			             type="cmn:EmailAddressType"
			             minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Income">
		<xsd:sequence>
			<xsd:element name="incomeType"
			             type="cmn:String6"
			             minOccurs="0"/>
			<xsd:element name="grossAmount"
			             type="cmn:MoneyType"/>
			<xsd:element name="deductedAmount"
			             type="cmn:MoneyType"
			             minOccurs="0"/>
			<xsd:element name="rate"
			             type="cmn:MoneyType"
			             minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="LineItemAmendType">
		<xsd:annotation>
			<xsd:documentation>
				A: Add
				U: Update
				D: Delete
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:token">
			<xsd:pattern value="[AUD]"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="FourDecimalRate">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Decimal values with four decimal places. This should be used for rates.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:decimal">
			<xsd:fractionDigits value="4"/>
			<xsd:minInclusive value="0.0000"/>
			<xsd:maxInclusive value="9999999.9999"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>