Service - Income Tax/Release Candidate 2024/IncomeReturnCommon.v1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Documentation
_______________________________________
NAME:       IncomeReturnCommon.v1.xsd
VER:        1.6
ISSUER:     Inland Revenue Department
DESC:       This schema defines common fields for all income tax returns submitted through the Gateway Services.
	
Date  		Change
**********  ************
2023-11-16	added creditAccountOpeningBalance to NonIndividualType

2023-01-04	added buildToRentExclusion to InterestExpenseClaimedReasonType

			totalIncome in SchedularPaymentsType changed from MoneyType to MoneyTypePositive

			grossResRentalIncome added to ResidentialRentalIncomeType
			netBrightlineProfits added to ResidentialRentalIncomeType
			otherResIncome added to ResidentialRentalIncomeType

			Added PieIncomeWithTaxCreditType
			correctRate in PieIncomeWithTaxCreditType changed to PrescribedInvestorRateType - new type
			
			Removed fields 	correctRate, 
							correctRateUsedAllYear from IncomeWithTaxCreditType
									
			Added new elements IncomeWithTaxPaidType1 and IncomeWithTaxPaidType2

			Renamed IncomeWithTaxPaidType to IncomeWithTaxPaidType3
			
			Added OverseasIncomeType


2021-12-21	Added SettlementType and SettlementListType
			Added PropertyInterestLimitationType
			Added InterestExpenseClaimedReasonType
			Added	taxJurisdiction,
					noJurisdictionTin,
					tinNotRequired,	
					taxIdNumber,
					openingBalance,
					accountingIncomeAllocated,
					corpus,
					capital,
					useOfTrustProperty,
					distributionTrustAssets,
					forgivenessOfDebt,
					withdrawnFromTrust,
					closingBalance to BeneficiaryType
			Added subsidyType to IncomeProfileType
			Added propertySaleDetails to NonIndividualType, IndividualType
			Added PropertyDetailsType, PropertyDetailsListType

2021-07-28	Changed field totalTaxCredits in IncomeWithTaxCreditType to accept negative values (MoneyType)

2020-15-12  Added new field (creditBroughtForward) to ResearchAndDevelopmentType
            Added new fields (correctRate, correctRateUsedAllYear) to IncomeWithTaxCreditType.
            These are intended for pieIncome in IR3 and CALC forms only.

2020-07-13  Added new fields to incomeProfile object
			Added new periodLossCarryBack field
			Fixed ResidentialMethodType documentation

2019-11-20	residentialRentalIncome added
			researchAndDevelopment added
			shareholderAIMTaxPaid added to ShareholderListType
			shareholderAIMTaxPaid added to ShareholderType
              
2019-01-28  Initial
_______________________________________
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:cmn="urn:www.ird.govt.nz/GWS:types/Common.v2" xmlns:rc="urn:www.ird.govt.nz/GWS:types/ReturnCommon.v2" xmlns="urn:www.ird.govt.nz/GWS:types/IncomeReturnCommon.v1" targetNamespace="urn:www.ird.govt.nz/GWS:types/IncomeReturnCommon.v1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xsd:annotation>
		<xsd:documentation xml:lang="en">
		This is a schema meant to be a common ground for defining tax type agnostic returns operations. 
		The addition of new data types should never change the major version of this schema, only the addition of new operations or root level elements.
		</xsd:documentation>
	</xsd:annotation>
	<!--Begin Imports Statement(s)-->
	<xsd:import namespace="urn:www.ird.govt.nz/GWS:types/Common.v2" schemaLocation="./Common.v2.xsd">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Contains common data types.</xsd:documentation>
		</xsd:annotation>
	</xsd:import>
	<xsd:import namespace="urn:www.ird.govt.nz/GWS:types/ReturnCommon.v2" schemaLocation="./ReturnCommon.v2.xsd">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Contains common return data types.</xsd:documentation>
		</xsd:annotation>
	</xsd:import>
	<!--Begin Specific Prepop Data-->
	<xsd:complexType name="PrepopResponseBodyType">
		<xsd:complexContent>
			<xsd:extension base="rc:PrepopResponseBodyType">
				<xsd:sequence>
					<xsd:element name="individual" type="IndividualType" minOccurs="0"/>
					<xsd:element name="nonIndividual" type="NonIndividualType" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!--End Specific Prepop Data-->
	<!--Structures-->
	<xsd:complexType name="ResidentialRentalIncomeType">
		<xsd:sequence>
			<xsd:element name="indicator" type="ResidentialMethodType" minOccurs="0"/>
			<xsd:element name="grossResRentalIncome" type="cmn:MoneyTypePositive" minOccurs="0"/>
			<xsd:element name="netBrightlineProfits" type="cmn:MoneyTypePositive" minOccurs="0"/>
			<xsd:element name="otherResIncome" type="cmn:MoneyTypePositive" minOccurs="0"/>
			<xsd:element name="totalIncome" type="cmn:MoneyTypePositive" minOccurs="0"/>
			<xsd:element name="residentialRentalDeductions" type="cmn:MoneyTypePositive" minOccurs="0"/>
			<xsd:element name="excessDeductionsBroughtForward" type="cmn:MoneyTypePositive" minOccurs="0"/>
			<xsd:element name="deductionsClaimedThisYear" type="cmn:MoneyTypePositive" minOccurs="0"/>
			<xsd:element name="netIncome" type="cmn:MoneyType" minOccurs="0"/>
			<xsd:element name="excessDeductionsCarriedForward" type="cmn:MoneyTypePositive" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PropertyInterestLimitationType">
		<xsd:sequence>
			<xsd:element name="totalInterest" type="cmn:MoneyTypePositive" minOccurs="0"/>
			<xsd:element name="interestExpenseClaimed" type="cmn:MoneyTypePositive" minOccurs="0"/>
			<xsd:element name="interestExpenseClaimedReason" type="InterestExpenseClaimedReasonType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="InterestExpenseClaimedReasonType">
		<xsd:sequence>
			<xsd:element name="notResidentialOrMaoriExempt" type="xsd:boolean" minOccurs="0"/>
			<xsd:element name="propertyNotInNz" type="xsd:boolean" minOccurs="0"/>
			<xsd:element name="loansDrawnDown" type="xsd:boolean" minOccurs="0"/>
			<xsd:element name="newBuildExemption" type="xsd:boolean" minOccurs="0"/>
			<xsd:element name="developmentExemption" type="xsd:boolean" minOccurs="0"/>
			<xsd:element name="emergencyTransitionalSocialCouncil" type="xsd:boolean" minOccurs="0"/>
			<xsd:element name="buildToRentExclusion" type="xsd:boolean" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ResearchAndDevelopmentType">
		<xsd:sequence>
			<xsd:element name="creditBroughtForward" type="cmn:MoneyTypePositive" minOccurs="0"/>
			<xsd:element name="nonrefundableCredit" type="cmn:MoneyTypePositive" minOccurs="0"/>
			<xsd:element name="refundableCredit" type="cmn:MoneyTypePositive" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="IndividualType">
		<xsd:sequence>
			<xsd:element name="periodBegin" type="cmn:DateType"/>
			<xsd:element name="periodEnd" type="cmn:DateType"/>
			<xsd:element name="filingFrequency" type="FilingFrequencyType"/>
			<xsd:element name="balanceDate" type="cmn:DateType"/>
			<xsd:element name="formExpected" type="cmn:String6"/>
			<xsd:element name="transitionalYear" type="xsd:boolean"/>
			<xsd:element name="bankruptPeriod" type="xsd:boolean"/>
			<xsd:element name="preAdjudication" type="xsd:boolean"/>
			<xsd:element name="postAdjudication" type="xsd:boolean"/>
			<xsd:element name="preAdjudicationFiled" type="xsd:boolean"/>
			<xsd:element name="periodLossCarryBack" type="xsd:boolean"/>
			<xsd:element name="incomeProfile" type="IncomeProfileListType"/>
			<xsd:element name="propertySaleDetails" type="PropertyDetailsListType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="NonIndividualType">
		<xsd:sequence>
			<xsd:element name="periodBegin" type="cmn:DateType"/>
			<xsd:element name="periodEnd" type="cmn:DateType"/>
			<xsd:element name="filingFrequency" type="FilingFrequencyType"/>
			<xsd:element name="balanceDate" type="cmn:DateType"/>
			<xsd:element name="formExpected" type="cmn:String6"/>
			<xsd:element name="transitionalYear" type="xsd:boolean"/>
			<xsd:element name="periodLossCarryBack" type="xsd:boolean"/>
			<xsd:element name="creditAccountOpeningBalance" type="cmn:MoneyType" minOccurs="0"/>
			<xsd:element name="incomeProfile" type="IncomeProfileListType"/>
			<xsd:element name="propertySaleDetails" type="PropertyDetailsListType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="IncomeProfileListType">
		<xsd:sequence>
			<xsd:element name="income" type="IncomeProfileType" minOccurs="0" maxOccurs="10000"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="IncomeProfileType">
		<xsd:sequence>
			<xsd:element name="incomeSource" type="cmn:String255" minOccurs="0"/>
			<xsd:element name="sourceIdentifier" type="cmn:String255" minOccurs="0"/>
			<xsd:element name="incomeType" type="IncomeType"/>
			<xsd:element name="amount" type="cmn:MoneyType"/>
			<xsd:element name="deductions" type="cmn:MoneyType"/>
			<xsd:element name="studentLoan" type="cmn:MoneyType" minOccurs="0"/>
			<xsd:element name="donation" type="cmn:MoneyType" minOccurs="0"/>
			<xsd:element name="extinguishedDonation" type="cmn:MoneyType" minOccurs="0"/>
			<xsd:element name="familyTaxCredit" type="cmn:MoneyType" minOccurs="0"/>
			<xsd:element name="earningsNotLiableForACC" type="cmn:MoneyType" minOccurs="0"/>
			<xsd:element name="imputationCreditsForDividend" type="cmn:MoneyType" minOccurs="0"/>
			<xsd:element name="subsidyType" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PropertyDetailsListType">
		<xsd:sequence>
			<xsd:element name="propertySale" type="PropertyDetailsType" minOccurs="0" maxOccurs="10000"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PropertyDetailsType">
		<xsd:sequence>
			<xsd:element name="propertyTitle" type="cmn:String50" minOccurs="0"/>
			<xsd:element name="propertyAddress1" type="cmn:String255" minOccurs="0"/>
			<xsd:element name="propertyAddress2" type="cmn:String60" minOccurs="0"/>
			<xsd:element name="propertySuburb" type="cmn:String50" minOccurs="0"/>
			<xsd:element name="propertyCity" type="cmn:String50" minOccurs="0"/>
			<xsd:element name="propertyPostCode" type="cmn:String50" minOccurs="0"/>
			<xsd:element name="dateOfPurchase" type="xsd:date" minOccurs="0"/>
			<xsd:element name="dateOfSale" type="xsd:date" minOccurs="0"/>
			<xsd:element name="salePrice" type="cmn:MoneyTypePositive" minOccurs="0"/>
			<xsd:element name="purchasePrice" type="cmn:MoneyTypePositive" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="IncomeTypeType">
		<xsd:restriction base="cmn:String255"/>
	</xsd:simpleType>
	<xsd:complexType name="IncomeType">
		<xsd:simpleContent>
			<xsd:extension base="IncomeTypeType">
				<xsd:attribute name="type" type="cmn:String12" use="required"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="FilingFrequencyTypeType">
		<xsd:restriction base="cmn:String255"/>
	</xsd:simpleType>
	<xsd:complexType name="FilingFrequencyType">
		<xsd:simpleContent>
			<xsd:extension base="FilingFrequencyTypeType">
				<xsd:attribute name="type" type="cmn:String6" use="required"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="ImputationAndWPADetailsType">
		<xsd:sequence>
			<xsd:element name="openingBalance" type="cmn:MoneyType"/>
			<xsd:element name="taxPaid" type="cmn:MoneyTypePositive"/>
			<xsd:element name="rwtOnInterestReceived" type="cmn:MoneyTypePositive"/>
			<xsd:element name="imputationCreditsAttachedToDividendsReceived" type="cmn:MoneyTypePositive"/>
			<xsd:element name="otherCreditsDesctiption" type="xsd:normalizedString"/>
			<xsd:element name="otherCreditsAmount" type="cmn:MoneyTypePositive"/>
			<xsd:element name="taxRefund" type="cmn:MoneyTypePositive"/>
			<xsd:element name="imputationCreditsAttachedToDividendsPaid" type="cmn:MoneyTypePositive"/>
			<xsd:element name="otherDebitsDescription" type="xsd:normalizedString"/>
			<xsd:element name="otherDebitsAmount" type="cmn:MoneyTypePositive"/>
			<xsd:element name="impClosingBalance" type="cmn:MoneyType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ShareholderListType">
		<xsd:sequence>
			<xsd:element name="shareholder" type="ShareholderType" minOccurs="0" maxOccurs="1000000"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ShareholderType">
		<xsd:sequence>
			<xsd:element name="irdNumber" type="cmn:IRDNumberType"/>
			<xsd:element name="remuneration" type="cmn:MoneyTypePositive"/>
			<xsd:element name="shareholderAIMTaxPaid" type="cmn:MoneyTypePositive" minOccurs="0"/>
			<xsd:element name="loansFromCompany" type="cmn:MoneyTypePositive"/>
			<xsd:element name="currentAccountBalance" type="cmn:MoneyType"/>
			<xsd:element name="shareholderLossOffsets" type="cmn:MoneyType"/>
			<xsd:element name="subventionPayments" type="cmn:MoneyType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SchedularPaymentsType">
		<xsd:sequence>
			<xsd:element name="withholdingTaxDeducted" type="cmn:MoneyTypePositive"/>
			<xsd:element name="totalIncome" type="cmn:MoneyTypePositive"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ProvisionalTaxType">
		<xsd:sequence>
			<xsd:element name="provisionalTaxOption" type="ProvisionalTaxOptionType" minOccurs="0"/>
			<xsd:element name="provisionalTaxPayable" type="cmn:MoneyTypePositive" minOccurs="0"/>
			<xsd:element name="provisionalTaxStartDate" type="cmn:DateType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="IncomeWithTaxPaidType1">
		<xsd:sequence>
			<xsd:element name="totalTaxPaid" type="cmn:MoneyTypePositive" minOccurs="0"/>
			<xsd:element name="totalIncome" type="cmn:MoneyTypePositive" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="IncomeWithTaxPaidType2">
		<xsd:sequence>
			<xsd:element name="totalTaxPaid" type="cmn:MoneyType" minOccurs="0"/>
			<xsd:element name="totalIncome" type="cmn:MoneyType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="IncomeWithTaxPaidType3">
		<xsd:sequence>
			<xsd:element name="totalTaxPaid" type="cmn:MoneyTypePositive" minOccurs="0"/>
			<xsd:element name="totalIncome" type="cmn:MoneyType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DividendIncomeType">
		<xsd:sequence>
			<xsd:element name="totalImputationCredits" type="cmn:MoneyTypePositive" minOccurs="0"/>
			<xsd:element name="totalRWTCredits" type="cmn:MoneyTypePositive" minOccurs="0"/>
			<xsd:element name="totalGrossDividends" type="cmn:MoneyTypePositive" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="MADistributionIncomeType">
		<xsd:sequence>
			<xsd:element name="totalMACredits" type="cmn:MoneyTypePositive" minOccurs="0"/>
			<xsd:element name="totalMADistributions" type="cmn:MoneyTypePositive" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PieIncomeWithTaxCreditType">
		<xsd:sequence>
			<xsd:element name="totalTaxCredits" type="cmn:MoneyType" minOccurs="0"/>
			<xsd:element name="totalIncome" type="cmn:MoneyType" minOccurs="0"/>
			<xsd:element name="correctRateOverride" type="xsd:boolean" minOccurs="0"/>
			<xsd:element name="correctRate" type="PrescribedInvestorRateType" minOccurs="0"/>
			<xsd:element name="correctRateUsedAllYear" type="xsd:boolean" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="PrescribedInvestorRateType">
		<xsd:restriction base="xsd:decimal">
			<xsd:enumeration value="0.00"/>
			<xsd:enumeration value="10.50"/>
			<xsd:enumeration value="17.50"/>
			<xsd:enumeration value="28.00"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="IncomeWithTaxCreditType">
		<xsd:sequence>
			<xsd:element name="totalTaxCredits" type="cmn:MoneyTypePositive" minOccurs="0"/>
			<xsd:element name="totalIncome" type="cmn:MoneyType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="PartYearReasonType">
		<xsd:annotation>
			<xsd:documentation>
				ARRIVE : Arrived
				BDATE: Balance date
				BRUPT: Bankrupt
				DECD: Deceased
				DEPART: Departed
				STUDLN: Student loan
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:token">
			<xsd:pattern value="[A-Z]{0,6}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ProvisionalTaxOptionType">
		<xsd:annotation>
			<xsd:documentation>
				AIM: Accounting Income Method
				EST: Estimation
				RATIO: Ratio
				STD: Standard
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:token">
			<xsd:pattern value="[A-Z]{0,5}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="OverseasExclusionDatesListType">
		<xsd:sequence>
			<xsd:element name="exclusionDateRange" type="OverseasExclusionDatesType" minOccurs="0" maxOccurs="5"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="OverseasExclusionDatesType">
		<xsd:sequence>
			<xsd:element name="excludedOverseasIncomeStartDate" type="cmn:DateType"/>
			<xsd:element name="excludedOverseasIncomeEndDate" type="cmn:DateType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DeductionsTransferredListType">
		<xsd:sequence>
			<xsd:element name="deduction" type="DeductionsTransferredType" minOccurs="0" maxOccurs="1000000"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DeductionsTransferredType">
		<xsd:sequence>
			<xsd:element name="name" type="xsd:string" minOccurs="0"/>
			<xsd:element name="irdNumber" type="cmn:IRDNumberType" minOccurs="0"/>
			<xsd:element name="amount" type="cmn:MoneyTypePositive" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TrusteeListType">
		<xsd:sequence>
			<xsd:element name="trustee" type="TrusteeType" minOccurs="0" maxOccurs="200000"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TrusteeType">
		<xsd:sequence>
			<xsd:element name="fullName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="irdNumber" type="cmn:IRDNumberType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="BeneficiaryListType">
		<xsd:sequence>
			<xsd:element name="beneficiary" type="BeneficiaryType" minOccurs="0" maxOccurs="200000"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="BeneficiaryType">
		<xsd:sequence>
			<xsd:element name="beneficiaryIrdNumber" type="cmn:IRDNumberType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>This field is optional on schema level, but may be required in File payloads.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="taxIdNumber" type="cmn:String50" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>This field is optional on schema level, but may be required in File payloads.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="beneficiaryName" type="cmn:String255" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>This field is optional on schema level, but is required in File payloads.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="beneficiaryDOB" type="cmn:DateType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>This field is optional on schema level, but is required in File payloads.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="taxJurisdiction" type="cmn:Country2DigitType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>This field is optional on schema level, but is required in File payloads.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="noJurisdictionTin" type="xsd:boolean" minOccurs="0"/>
			<xsd:element name="tinNotRequired" type="xsd:boolean" minOccurs="0"/>
			<xsd:element name="beneficiaryAddress" type="cmn:String255" minOccurs="0"/>
			<xsd:element name="beneficiaryIsNonResident" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Deprecated, provide 'taxJurisdiction' for 2022 and beyond.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="shareOfInterestIncome" type="cmn:MoneyType" minOccurs="0"/>
			<xsd:element name="shareOfDividendsIncome" type="cmn:MoneyTypePositive" minOccurs="0"/>
			<xsd:element name="shareOfMADistributionsIncome" type="cmn:MoneyTypePositive" minOccurs="0"/>
			<xsd:element name="shareOfOverseasIncome" type="cmn:MoneyType" minOccurs="0"/>
			<xsd:element name="shareOfOtherIncome" type="cmn:MoneyType" minOccurs="0"/>
			<xsd:element name="taxableIncome" type="cmn:MoneyType" minOccurs="0"/>
			<xsd:element name="taxPaidByTrust" type="xsd:boolean" minOccurs="0"/>
			<xsd:element name="distributionByNonComplyingtrust" type="cmn:MoneyType" minOccurs="0"/>
			<xsd:element name="taxOnTaxableIncome" type="cmn:MoneyTypePositive" minOccurs="0"/>
			<xsd:element name="overseasTaxPaid" type="cmn:MoneyTypePositive" minOccurs="0"/>
			<xsd:element name="taxLessOverseasTaxPaid" type="cmn:MoneyTypePositive" minOccurs="0"/>
			<xsd:element name="dividendImputationCredit" type="cmn:MoneyTypePositive" minOccurs="0"/>
			<xsd:element name="taxLessDividendImputationCredit" type="cmn:MoneyTypePositive" minOccurs="0"/>
			<xsd:element name="otherPaidTaxCredits" type="cmn:MoneyTypePositive" minOccurs="0"/>
			<xsd:element name="taxLessOtherPaidTaxCredits" type="cmn:MoneyType" minOccurs="0"/>
			<xsd:element name="taxOnDistributionByNonComplyingTrust" type="cmn:MoneyType" minOccurs="0"/>
			<xsd:element name="beneficiaryTaxPayable" type="cmn:MoneyType" minOccurs="0"/>
			<xsd:element name="openingBalance" type="cmn:MoneyType" minOccurs="0"/>
			<xsd:element name="accountingIncomeAllocated" type="cmn:MoneyTypePositive" minOccurs="0"/>
			<xsd:element name="corpus" type="cmn:MoneyTypePositive" minOccurs="0"/>
			<xsd:element name="capital" type="cmn:MoneyTypePositive" minOccurs="0"/>
			<xsd:element name="useOfTrustProperty" type="cmn:MoneyTypePositive" minOccurs="0"/>
			<xsd:element name="distributionTrustAssets" type="cmn:MoneyTypePositive" minOccurs="0"/>
			<xsd:element name="forgivenessOfDebt" type="cmn:MoneyTypePositive" minOccurs="0"/>
			<xsd:element name="withdrawnFromTrust" type="cmn:MoneyType" minOccurs="0"/>
			<xsd:element name="closingBalance" type="cmn:MoneyType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SettlementListType">
		<xsd:sequence>
			<xsd:element name="settlement" type="SettlementType" minOccurs="0" maxOccurs="200000"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SettlementType">
		<xsd:sequence>
			<xsd:element name="settlorFullName" type="cmn:String255" minOccurs="1"/>
			<xsd:element name="noSettlementThisYear" type="xsd:boolean" minOccurs="0"/>
			<xsd:element name="settlorCommence" type="cmn:DateType" minOccurs="0"/>
			<xsd:element name="taxJurisdiction" type="cmn:Country2DigitType" minOccurs="0"/>
			<xsd:element name="settlorIrdNumber" type="cmn:IRDNumberType" minOccurs="0"/>
			<xsd:element name="taxIdNumber" type="cmn:String50" minOccurs="0"/>
			<xsd:element name="noJurisdictionTin" type="xsd:boolean" minOccurs="0"/>
			<xsd:element name="tinNotRequired" type="xsd:boolean" minOccurs="0"/>
			<xsd:element name="cash" type="cmn:MoneyTypePositive" minOccurs="0"/>
			<xsd:element name="financialArrangements" type="cmn:MoneyTypePositive" minOccurs="0"/>
			<xsd:element name="land" type="cmn:MoneyTypePositive" minOccurs="0"/>
			<xsd:element name="buildings" type="cmn:MoneyTypePositive" minOccurs="0"/>
			<xsd:element name="shares" type="cmn:MoneyTypePositive" minOccurs="0"/>
			<xsd:element name="services" type="cmn:MoneyTypePositive" minOccurs="0"/>
			<xsd:element name="other" type="cmn:MoneyTypePositive" minOccurs="0"/>
			<xsd:element name="otherDescription" type="cmn:String255" minOccurs="0"/>
			<xsd:element name="settlementZeroValue" type="xsd:boolean" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="BeneficiaryEstateTrustType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				F: Foreign Trust
				N: Non-complying trust
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:token">
			<xsd:pattern value="[FN]"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TrustType">
		<xsd:annotation>
			<xsd:documentation>
				C: Complying Trust
				F: Foreign Trust
				N: Non-complying Trust
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:token">
			<xsd:pattern value="[CFN]"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="IncomeAttributionListType">
		<xsd:sequence>
			<xsd:element name="incomeAttribution" type="IncomeAttributionType" minOccurs="0" maxOccurs="200000"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="IncomeAttributionType">
		<xsd:sequence>
			<xsd:element name="name" type="cmn:String100" minOccurs="0"/>
			<xsd:element name="irdNumber" type="cmn:IRDNumberType"/>
			<xsd:element name="shareOfInterestIncome" type="cmn:MoneyType" minOccurs="0"/>
			<xsd:element name="shareOfDividendIncome" type="cmn:MoneyTypePositive" minOccurs="0"/>
			<xsd:element name="shareOfMADistributions" type="cmn:MoneyTypePositive" minOccurs="0"/>
			<xsd:element name="shareOfOverseasIncome" type="cmn:MoneyType" minOccurs="0"/>
			<xsd:element name="shareOfResidentialRentalIncome" type="cmn:MoneyTypePositive" minOccurs="0"/>
			<xsd:element name="shareOfRentalIncome" type="cmn:MoneyType" minOccurs="0"/>
			<xsd:element name="shareOfPassiveIncome" type="cmn:MoneyType" minOccurs="0"/>
			<xsd:element name="shareOfOtherIncome" type="cmn:MoneyType" minOccurs="0"/>
			<xsd:element name="totalIncome" type="cmn:MoneyType" minOccurs="0"/>
			<xsd:element name="deductionForExtinguishedLoss" type="cmn:MoneyTypePositive" minOccurs="0"/>
			<xsd:element name="shareOfResidentialRentalDeductions" type="cmn:MoneyTypePositive" minOccurs="0"/>
			<xsd:element name="shareOfOverseasTaxPaid" type="cmn:MoneyTypePositive" minOccurs="0"/>
			<xsd:element name="shareOfImputationCredits" type="cmn:MoneyTypePositive" minOccurs="0"/>
			<xsd:element name="shareOfOtherTaxCredits" type="cmn:MoneyTypePositive" minOccurs="0"/>
			<xsd:element name="attributionOfIncome" type="cmn:PercentageType"/>
			<xsd:element name="nonAllowableDeductionsThisYear" type="cmn:MoneyTypePositive" minOccurs="0"/>
			<xsd:element name="nonAllowableDeductionsBroughtForward" type="cmn:MoneyTypePositive" minOccurs="0"/>
			<xsd:element name="priorYearNonAllowableDeductionsClaimed" type="cmn:MoneyTypePositive" minOccurs="0"/>
			<xsd:element name="nonAllowableDeductionsCarriedForward" type="cmn:MoneyTypePositive" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="SocietyType">
		<xsd:annotation>
			<xsd:documentation>
				F: Friendly society
				X: Income except club or society
				A: All other clubs and societies 
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:token">
			<xsd:pattern value="[AFX]"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="AttachmentListType">
		<xsd:sequence>
			<xsd:element name="attachment" type="AttachmentFieldsType" minOccurs="0" maxOccurs="100"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AttachmentFieldsType">
		<xsd:sequence>
			<xsd:element name="formType" type="xsd:string"/>
			<xsd:element name="formFields" type="rc:FormFieldsType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="ResidentialMethodType">
		<xsd:annotation>
			<xsd:documentation>
        I: Individual
        C: Combination
        P: Portfolio
      </xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:token">
			<xsd:pattern value="[ICP]"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="AssetValuationType">
		<xsd:annotation>
			<xsd:documentation>
				H: History
				M: Market
				T: Taxbook
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:token">
			<xsd:pattern value="[HMT]"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="OverseasIncomeType">
		<xsd:annotation>
			<xsd:documentation>
				CFC:	CFC income
				DIV:	Dividends
				FIF:	FIF income
				FIN:	Financial arrangements
				FOR:	Foreign employment/Service
				INT:	Interest
				NONNZ:	Non-NZ Trust
				OTHER:	Other
				PEN:	Pensions
				REN:	Rental income
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="CFC"/>
			<xsd:pattern value="DIV"/>
			<xsd:pattern value="FIF"/>
			<xsd:pattern value="FIN"/>
			<xsd:pattern value="FOR"/>
			<xsd:pattern value="INT"/>
			<xsd:pattern value="NONNZ"/>
			<xsd:pattern value="OTHER"/>
			<xsd:pattern value="PEN"/>
			<xsd:pattern value="REN"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
